<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheonajjang.uas0707">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="UAS"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light">
        <activity android:name="com.cheonajjang.uas0707.ui.detail.DetailActivity"></activity>
        <activity android:name="com.cheonajjang.uas0707.ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>